#v_scrl_home {
    align: left top;
}

.btns_home {
    margin: 1 1;
    padding-left: 1;
    padding-right: 1;
}

#v_scrl_play {
    align: left top;
}

.btns_save_slot {
    margin: 1 1;
    padding-left: 1;
    padding-right: 1;
    text-align: left;
}